* {
	box-sizing: border-box;
}

body {
	background-color: gainsboro;
}

.title {
	text-align: center;
	font-size: 2em;
	color: #fff;
}

.board {  
    display: flex;
	flex-wrap: wrap;
	width: 70vmin;
	height: 70vmin;
	border: 1px solid black;
	margin: 0 auto;
        }  

.cell {  
    width: 25%;
	height: 25%;
	box-sizing: border-box;
	border: 2px solid black;
        } 

img {  
    width: 90%;  
    height: 90%; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
        }  

.hammer {
	cursor: url('../img/hammer.png'), auto;
}

.hammer-boom {
	cursor: url('../img/hammer-boom.png'), auto;
}

.status{
	width: 30vmin;
	margin:  15px auto;
	background-color: lightseagreen;
	font-style: oblique;
	font-weight: bold;
}

dialog {
	  margin: auto;
	  position: absolute;
	  top: 0; left: 0; bottom: 0; right: 0;		  
	  background: lightcoral;
	  border: none;
	  border-radius: 1rem;
	  text-align: center;
	}